* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.navbar {
  width: 100%;
  height: auto;
  padding: 10px 10px 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
}

.menu-icon {
  padding: 30px 10px 10px 20px;
  width: 43px;
  height: auto;
}

.head-line {
  display: none;
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #3e3e3e;
  flex-direction: row;
  justify-content: flex-end;
  padding: 20px 20px;
}

.head-img {
  width: 25px;
  height: auto;
  display: flex;
  align-self: center;
  margin-right: 20px;
}

.head-link {
  color: #fff;
  margin-right: 20px;
}

.m-menu {
  width: 30px;
  margin-bottom: 3px;
  margin-bottom: 10%;
  border: 3px solid #272a31;
}

.menu-ul {
  list-style: none;
  display: none;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding-left: 2%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  margin-bottom: 20%;
}

.close {
  width: 50px;
  height: 50px;
  margin-top: 20px;
}

.header-logo {
  display: none;
}

.links {
  padding-top: 5px;
  margin: 0 0 10px 10px;
}

.menu-links {
  text-decoration: none;
  color: #272a31;
}

.menu-ul.active {
  display: flex;
}

.pg1-sec {
  background-image: url("../Images/background.png");
  height: auto;
  padding: 80px 50px;
  width: 100%;
  padding-top: 210px;
}

.hello-world {
  font-size: 25px;
  font-family: 'Inter', sans-serif;
  color: #ec5242;
  margin-bottom: 10px;
}

.event-name {
  font-size: 45px;
  font-family: 'Crete Round', sans-serif;
  color: #ec5242;
}

.event-dis {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  border: 6px solid #fff;
  background-color: #fff;
  padding: 20px 20px;
  margin-top: 20px;
}

.enjoy {
  display: flex;
  justify-content: center;
  font-size: 32px;
  border: none;
  background: none;
}

.sec-logo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 25px;
  padding-bottom: 25px;
}

.what-logo {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 50px;
  margin-bottom: 10px;
}

.logo-hr {
  display: flex;
  align-self: center;
  width: 10%;
  margin-bottom: 20px;
  border: 2px solid #fc8677;
}

.dis-logo {
  color: #303030;
  font-size: 28px;
  width: 40%;
  text-align: center;
  display: flex;
  align-self: center;
}

.com-logo {
  margin-top: 40px;
  margin-left: 20%;
  width: 60%;
  height: auto;
}

.line {
  border: 1px solid #303030;
  margin-top: 80px;
  margin-bottom: 40px;
}

.red-img {
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
}

.see-past {
  font-size: 20px;
  text-align: center;
  color: #303030;
}

.dis-past {
  font-size: 16px;
  text-align: center;
  color: #303030;
}

.img1 {
  width: 60%;
  height: auto;
  margin: 10px 20% 10px 20%;
}

.partners {
  background-color: #414246;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.partner-logo-container {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 25%;
}

.patner-logo {
  width: 100%;
  height: auto;
  margin-right: 20px;
  opacity: 60%;
}

.patner2-logo {
  width: 60%;
  height: auto;
  margin-right: 20px;
  opacity: 60%;
}

.last-part {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 10px 10%;
}

.footer-logo {
  width: 35%;
  margin-right: 20%;
}

.last-p {
  color: rgb(134, 133, 138);
  font-size: 24px;
  margin-left: 10%;
  width: 100%;
}

@media (min-width: 768px) {
  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    height: 55px;
    padding: 10px 30%;
  }

  .header-logo {
    display: block;
    width: 100px;
    height: 60px;
    margin-right: 55%;
    margin-top: 0;
  }

  .menu-icon {
    display: none;
  }

  .m-menu {
    display: none;
  }

  .menu-ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 50px 10px 20px 5px;
    width: 100%;
    margin-right: 40%;
  }

  .head-line {
    display: flex;
  }

  .links {
    margin-right: 20px;
  }

  .close {
    display: none;
  }

  .pg1-sec {
    padding: 20% 10%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }

  .event-name {
    width: 90%;
  }

  .event-dis {
    width: 60%;
  }

  .event-start {
    font-size: 35px;
    display: flex;
    align-items: center;
  }

  .red-img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px 30%;
  }

  .img1 {
    margin: 0;
    margin-right: 20px;
    width: 80%;
  }
}
