* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
}


.navbar {
  width: 100%;
  height: auto;
  padding: 10px 10px 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
}

.menu-icon {
  padding: 30px 10px 10px 20px;
  width: 43px;
  height: auto;
}

.m-menu {
  width: 30px;
  margin-bottom: 3px;
  margin-bottom: 10%px;
  border: 3px solid #272A31;
}

.menu-ul {
  list-style: none;
  display: none;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding-left: 2%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  margin-bottom: 20%;
}

.close {
  width: 50px;
  height: 50px;
  margin-top: 20px;
}

.links {
  padding-top: 10px;
  margin: 0 0 10px 20px;
}

.menu-links {
  text-decoration: none;
  color: #272A31;
}

.menu-ul.active {
  display: flex;
}

.pg1-sec {
  background-image: url("../Images/background.png");
  height: auto;
  padding: 80px 50px;
  width: 100%;
  padding-top: 210px;

}

.hello-world {
  font-size: 25px;
  font-family: 'Inter', sans-serif;
  color: #ec5242;
  margin-bottom: 10px;
}

.event-name {
  font-size: 45px;
  font-family: 'Crete Round', sans-serif;
  color: #ec5242;
}

.event-dis {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  border: 6px solid #fff;
  background-color: #fff;
  padding: 20px 20px;
  margin-top: 20px;
}

.enjoy {
  display: flex;
  justify-content: center;
  font-size: 32px;
  border: none;
  background: none;
}

.sec-logo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 25px;
  padding-bottom: 25px;
}

.what-logo {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 50px;
  margin-bottom: 10px;
}

.logo-hr {
  display: flex;
  align-self: center;
  width: 10%;
  margin-bottom: 20px;
  border: 2px solid #fc8677;

}

.dis-logo {
  color: #303030;
  font-size: 28px;
  width: 40%;
  text-align: center;
  display: flex;
  align-self: center;
}

.com-logo {
  margin-top: 40PX;
  margin-left: 20%;
  width: 60%;
  height: auto;
}

.line {
  border: 1px solid #303030;
  margin-top: 80px;
  margin-bottom: 40px;
}

.red-img {
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
}

.img1 {
  width: 60%;
  height: auto;
  margin: 10px 20% 10px 20%;
}

.partners {
  background-color: #414246;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.partner-logo-container {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 25%;
}
.patner-logo {
  width: 100%;
  height: auto;
  margin-right: 20px;
  opacity: 60%;
}

.patner2-logo {
  width: 60%;
  height: auto;
  margin-right: 20px;
  opacity: 60%;
}

.last-p {
  margin-left: 30%;
  color: rgb(134,133,138);
  font-size: 34px;
}