.enjoy {
  display: flex;
  justify-content: center;
  font-size: 32px;
  border: none;
  background: none;
}

.sec-logo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 25px;
  padding-bottom: 25px;
}

.what-logo {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 50px;
  margin-bottom: 10px;
}

.logo-hr {
  display: flex;
  align-self: center;
  width: 10%;
  margin-bottom: 20px;
  border: 2px solid #fc8677;
}

.dis-logo {
  color: #303030;
  font-size: 28px;
  width: 40%;
  text-align: center;
  display: flex;
  align-self: center;
}

.main-logo {
  margin-top: 40px;
  text-align: center;
  font-size: 200px;
  color: #ec5242;
}

.line {
  border: 1px solid #303030;
  margin-top: 80px;
  margin-bottom: 40px;
}

.red-img {
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
}

.see-past {
  font-size: 20px;
  text-align: center;
  color: #303030;
}

.dis-past {
  font-size: 16px;
  text-align: center;
  color: #303030;
}

.img1 {
  width: 60%;
  height: auto;
  margin: 10px 20% 10px 20%;
}

.partners {
  background-color: #414246;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.partner-logo-container {
  width: 80%;
  display: flex;
  flex-direction: row;
  padding-left: 35%;
}

.partnerlogo {
  font-size: 60px;
  margin: 2px 20px;
}

.last-part {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 0 10%;
}

.footrt-logo {
  font-size: 80px;
  margin:0 20%;
}

.last-p {
  color: rgb(134, 133, 138);
  font-size: 20px;
  margin-left: 10%;
  width: 100%;
}

@media (min-width: 768px) {
  .red-img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px 30%;
  }

  .img1 {
    margin: 0;
    margin-right: 20px;
    width: 80%;
  }
}
