* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar {
  width: 100%;
  height: 100px;
  padding: 10px 10px 20px 10px;
  background-color: aqua;
  display: flex;
  flex-wrap: column;
  justify-content: space-between;
}

.menu-icon {
  padding: 30px 10px 10px 20px;
  width: 43px;
  height: auto;
}

.m-menu {
  width: 20px;
  margin-bottom: 3px;
  border: 1px solid #fff;
}

.logo {
  font-size: 30px;
  font-family: 'Crete Round', sans-serif;
  color: #fff;
  margin-left: 5%;
  margin-right: 25%;
}

.pg1-sec {
  background-image: url("/Images/bkgrnd.png");
  height: auto;
  padding: 80px 50px;
}

.hello-world {
  font-size: 30px;
  font-family: 'Inter', sans-serif;
  color: rgb(252, 76, 63);
  margin-bottom: 10px;
}

.event-name {
  font-size: 72px;
  font-family: 'Crete Round', sans-serif;
  color: rgb(252, 76, 63);
}

.event-dis {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  border: 6px solid #fff;
  padding: 20px 20px;
  margin-top: 20px;
}

.event-start {
  display: flex;
  justify-content: center;
  font-size: 24px;
  padding: 20px 20px;
  margin-top: 20px; 
}